<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{%block title%}{% endblock %}</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/styles.css">
</head>
<body>
	<div class="container">	
		{% block container %}{% endblock %}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/scripts.js"></script>
	<script
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBfA9Jn44EKpCSpBqlMV7oWF_hxnMklbWU&sensor=true">
    </script>
</body>
</html>